{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4" style="color: #999;">Welcome to The Cave</h1>
        <p class="lead" style="color: #999;">This is a simple web application meant to encrypt and decrypt text/images using Caveman Cipher.</p>
        <hr class="my-4" style="color: #999;">
        <p style="color: #999;">Use the navigation tabs above to explore the different sections.</p>
    </div>
    <div class="row">
        <div class="col-md-6" style="color: #999;">
            <h2>About</h2>
            <p>This web application provides basic encryption and decryption functionality.  It's a starting point for learning how to build web applications with Flask.</p>
        </div>
        <div class="col-md-6" style="color: #999;">
            <h2>Features</h2>
            <ul>
                <li>Home page with general information</li>
                <li>Encryption page with a form for input</li>
                <li>Decryption page with a form for input</li>
                <li>Responsive design using Bootstrap</li>
            </ul>
        </div>
    </div>
{% endblock %}
